body {
    background-image: url("../img/background\ img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.box{
    margin-top: 2.5%;
    width: 70%;
    height: 680px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.box1 {
    width: 50%;
    height: 550px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin: 85px 50px 5px 29px; 
    /* (top , right , bottom , left) */
    z-index: -1;
    
}
.boxName {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    display: flex;
    margin-left: 5.3%;
    margin-top: 16%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxName::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxNameL {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 25%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxNameL::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxContactNum {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 23%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxContactNum::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxEmail {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 30%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxEmail::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxHome {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 37%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxHome::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxPassword {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 44%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxPassword::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.boxPasswordL {
    width: 45%;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    margin-left: 5.3%;
    margin-top: 35%;
    border-color: rgba(255, 255, 255, 0.2);
}
.boxPasswordL::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
.loginPageLeftTitle{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 30%
}
.btn1{
    margin-left: 22%;
    margin-top: 10%;
    width: 250px;
    height: 55px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btn1:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btn2{
    margin-left: 22%;
    margin-top: 10%;
    width: 250px;
    height: 55px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btn2:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.boxRight{
    background-color: #f7c76b;
    height: 680px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxRightP{
    font-size: 50px;
    text-align: center;
    color: #7b1d09;
    font-weight: 500;
}
.boxRightPR {
    font-size: 45px;
    margin-top: 25%;
    text-align: center;
    color: #7b1d09;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.btnLogin {
    position: absolute;
    margin-left: 14%;
    margin-top: 6%;
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btnLogin:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
    z-index: 1;
}
.btnLoginL {
    position: absolute;
    margin-left: 14%;
    margin-top: 15%;
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
    border-color: #ee5f47;
    z-index: 1;
}
.btnLoginL:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
    z-index: 1;
}
.btnSignUp {
    position: absolute;
    margin-left: 25%;
    margin-top: 6%;
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
    border-color: #ee5f47;
}
.btnSignUp:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnSignUpL {
    position: absolute;
    margin-left: 25%;
    margin-top: 15%;
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btnSignUpL:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
    z-index: 1;
}
.btnLetsGo {
    position: absolute;
    margin-left: 16%;
    margin-top: 53.5%;
    width: 110px;
    height: 45px;
    font-size: 18px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btnLetsGo:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnLetsGoL {
    position: absolute;
    margin-left: 22%;
    margin-top: 48%;
    width: 110px;
    height: 45px;
    font-size: 18px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btnLetsGoL:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnClear {
    position: absolute;
    margin-left: 28%;
    margin-top: 53.5%;
    width: 110px;
    height: 45px;
    font-size: 18px;
    color: #ee5f47;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 25px;
}
.btnClear:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
/* ------------------------------------------------------------------------- */
.leftBtnPanel {
    background-color: #f7c76b;
    height: 52rem;
}
.centerPanel {
    width: 58.3%;
    height: 52rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.rightDetailPanel {
    background-color: #f7c76b;
    height: 52rem;
}
.leftPanelTitle {
    font-family: jockey system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 2px #838383c0;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
.btnPlaceOrder {
    position: absolute;
    margin-top: 2%;
    margin-left: 0.65%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnPlaceOrder:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnStores {
    position: absolute;
    margin-top: 6%;
    margin-left: 0.65%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnCustomers {
    position: absolute;
    margin-top: 10%;
    margin-left: 0.65%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnCustomers:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnOrders {
    position: absolute;
    margin-top: 14%;
    margin-left: 0.65%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnOrders:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnLogout {
    position: absolute;
    margin-top: 47%;
    margin-left: 1.85%;
    margin-right: 0.5%;
    width: 160px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnLogout:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
/* --------------------------------------------------- */
.btnReports {
    position: absolute;
    margin-top: 18%;
    margin-left: 0.65%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnReports:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
.searchBar {
    width: 650px;
    height: 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.381);
    display: flexbox;
    border-color: rgba(255, 255, 255, 0.2);
    border-color: #ee5f47;
}
.searchBar::placeholder {
    color: rgba(208, 208, 208, 0.859);
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* place order button panel */
.btnBurgers {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnBurgers:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnSubmarines {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnSubmarines:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnFries {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnFries:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnPasta {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnPasta:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnChicken {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnChicken:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnBeverages {
    position: absolute;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnBeverages:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnItemPanel {
    margin-top: 6.5%;
}
/* ------------------------------------------------------------------------- */


.card-main {
    overflow-y: auto;
    max-height: 670px;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
.product-card img {
border-radius: 10px;
border: 1px solid #ee604751;
height: 10rem;
object-fit: cover;
/* border-bottom: 1px solid #000000; */
}
.card {
border-radius: 10px !important;
height: 17rem;
}

.card-title{
text-align: left;
font-size: 0.9rem;
font-weight: 500;
}
.card-text{
text-align: left;
color: #ee5f47;
font-size: 1rem;
font-weight: 500;
}
.order-item p {
    font-weight: 500;
    font-size: 0.65rem;
}
.order-item {
    width: 90%;
    height: fit-content;
    background-color: #d8d8d8a2;
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
}
.btnDelete {
    border: none;
    background: none;
    width: 0;
    height: 0;
    cursor: pointer;
}

/* place order selected item panel */
.box2 {
    width: 90%;
    height: 70px;
    margin: 6% 5% 0% 5%;
    background-color: rgba(213, 213, 213, 0.89);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.txtSelectedItems {
    color: #ee5f47;
    text-shadow: 2px 2px 2px #ffffffc0;
}
.boxEnterCustomerName {
    width: 90%;
    height: 40px;
    margin: 6% 5% 0% 5%;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 10px;
    border-color: #ee5f47;
}
.boxEnterCustomerName::placeholder {
    color: rgb(168, 168, 168);
}
.box3 {
    width: 96%;
    height: 350px;
    margin: 6% 2.5% 0% 2.5%;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 10px;
}
.pooid {
    font-size: 0.8rem;
}
.poti {
    font-size: 0.8rem;
}
.poca {
    font-size: 0.8rem;
}
.box4 {
    width: 90%;
    height: 150px;
    margin: 0% 5% 0% 5%;
    background-color: rgba(221, 221, 221, 0.72);
    border-radius: 10px;
}
.subTotal {
    font-size: 14px;
    font-weight: 600;
    color: #828282;
}
.btnPlaceOrderRP {
    position: absolute;
    margin-top: 8px;
    margin-left: 4%;
    margin-right: 0.5%;
    width: 195px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnPlaceOrderRP:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
/* ------------------------------------------------------------------------- */


.centerPanelStores {
    width: 83.3%;
    height: 52rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.btnItemPanelStores {
    margin-top: 5%;
}
.btnBurgersStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnBurgersStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnSubmarinesStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnSubmarinesStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnFriesStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnFriesStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnPastaStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnPastaStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnChickenStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnChickenStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.btnBeveragesStores {
    position: absolute;
    width: 140px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #ee5f47;
    font-family: sans-serif;
}
.btnBeveragesStores:hover {
    background-color: #ee5f47;
    color: white;
    border-color: #ee5f47;
}
.box5 {
    width: 98%;
    height: 795px;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 10px;
    margin-top: 2.5%;
}
.boxEnterCustomerID {
    width: 90%;
    height: 40px;
    margin: 3% 5% 0% 5%;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 10px;
    border-color: #ee5f47;
}
.boxEnterCustomerID::placeholder {
    color: rgb(168, 168, 168);
}
.boxEnterCustomerNameC {
    width: 90%;
    height: 40px;
    margin: 3% 5% 0% 5%;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 10px;
    border-color: #ee5f47;
}
.boxEnterCustomerNameC::placeholder {
    color: rgb(168, 168, 168);
}
.btnPlaceOrderC {
    position: absolute;
    margin: 3% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnPlaceOrderC:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.btnPlaceOrderCU {
    position: absolute;
    margin: 8% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnPlaceOrderCU:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.btnPlaceOrderCD {
    position: absolute;
    margin: 13% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnPlaceOrderCD:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.centerPanelOrders {
    width: 50%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.rightPanelOrders {
    background-color: #f7c76b;
    height: 100vh;
}
.box6 {
    width: 98%;
    height: 795px;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 10px;
    margin-top: 2.5%;
} 
.box7 {
    width: 96%;
    height: 600px;
    margin: 6% 2.5% 0% 2.5%;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 10px;
}
.btnDeleteOrder {
    position: absolute;
    margin: 2% 3% 0% 7%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnDeleteOrder:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.box8 {
    width: 90%;
    height: 120px;
    margin: 6% 5% 0% 5%;
    background-color: rgba(226, 226, 226, 0.89);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.box9 {
    width: 90%;
    height: 430px;
    margin: 6% 5% 0% 5%;
    background-color: rgba(226, 226, 226, 0.89);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.txtItemName {
    width: 90%;
    height: 40px;
    margin: 3% 5% 0% 5%;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 10px;
    border-color: #ee5f47;
}
.txtItemName::placeholder {
    color: rgb(168, 168, 168);
}
.btnAddItem {
    position: absolute;
    margin: 3% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnAddItem:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.btnEditItem {
    position: absolute;
    margin: 7% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnEditItem:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.btnDeleteItem {
    position: absolute;
    margin: 11% 0% 0% 3%;
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background-color: #ee5f47;
    border-color: #ee5f47;
    font-family: sans-serif;
}
.btnDeleteItem:hover {
    color: #ee5f47;
    border-color: white;
    background-color: white;
}
.box10 {
    width: 46%;
    height: 380px;
    margin: 2% 2% 0% 2%;
    background-color: rgba(226, 226, 226, 0.89);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.box11 {
    width: 96%;
    height: 280px;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
}